.env
backend/.env
backend/node_modules/
backend/dist/
backend/.idea/
backend/.env.*
backend/*.log

sugu_chap/.dart_tool/
sugu_chap/build/
sugu_chap/.idea/
sugu_chap/.metadata
sugu_chap/.flutter-plugins
sugu_chap/.flutter-plugins-dependencies
sugu_chap/.packages
sugu_chap/pubspec.lock
sugu_chap/android/.gradle/
sugu_chap/ios/Pods/
sugu_chap/ios/.symlinks/
sugu_chap/macos/Pods/
sugu_chap/linux/flutter/ephemeral/
sugu_chap/windows/flutter/ephemeral/
sugu_chap/web/generated_plugin_registrant.dart

.idea/
*.iml
*.log
*.tmp
